{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title%}
<!-- #header end -->
{% block content %}

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element dark swiper_wrapper slider-parallax min-vh-75">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								
							</div>
							<div class="swiper-slide-bg" style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url('{% static 'assets/1.jpg' %}') no-repeat center center; background-size: cover"></div>
						</div>
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption">
									<div>
										<h2 class="nott" data-animate="fadeInUp">Donate with Kindness.</h2>
										<!-- <a href="#" data-animate="fadeInUp" data-delay="400" class="button button-rounded button-large button-light shadow nott ls0 ml-0 mt-4">Know More</a> -->
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8)), url('{% static 'assets/2.jpg' %}') no-repeat center center; background-size: cover;"></div>
						</div>
					</div>
					<div class="swiper-navs">
						<div class="slider-arrow-left"><i class="icon-line-arrow-left"></i></div>
						<div class="slider-arrow-right"><i class="icon-line-arrow-right"></i></div>
					</div>
					<div class="swiper-scrollbar">
						<div class="swiper-scrollbar-drag">
						<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div></div>
					</div>
				</div>

			</div>
		</section>
	
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0" style="overflow: visible">

				<svg viewBox="0 0 1382 58" width="100%" height="60" preserveAspectRatio="none" style="position: absolute; top: -58px; left:0; z-index: 1"><path style="fill:#FFF;" d="M1.52.62s802.13,127,1380,0v56H.51Z"/></svg>


				<div class="section mt-3" style="background: #FFF">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-7 center">
								<div class="heading-block border-bottom-0 mb-4">
									<h2 class="mb-4 nott">WHO WE ARE?</h2>
								</div>
								<div class="svg-line bottommargin-sm">
									<img src="{% static 'temp/demos/nonprofit/images/divider-1.svg' %}" alt="svg divider" height="20">
								</div>
								<p style="text-align: left;">
									MANGO PEOPLE, मैंNGO a HINGLISH word, combining Hindi and English alphabets, where 'मैं'(Main) means 'ME' and 'NGO' stands for a 'Non-Government' Organisation. <br>

​

In Non-Govern-ment, the word ‘MENT’ is derived from the Greek language which means ‘MIND’. Therefore, it is referred to be an organization that is not governed by mere Mind but also heart and soul. It is a Holistic Free Organisation with Unlimited Scope.<br>

​

MANGO PEOPLE are soul-driven free thinkers, not governed by the mind of others, breaking the patterns, breaking the illusion, believe that life is way beyond, just trying to buy more comforts and luxury. The true riches to the mankind are the Natural Resources given to us by the Mother Earth.<br>

​

Mango People is an NGO working towards the cause of sustainable living since 2011, by educating individuals to build their own eco-friendly & sustainable structures, using natural materials like Bamboo, Mud & other local recyclable material, available.<br>

Hands-on workshop modules bring about an experience to get into integrities of basic design and layouts, model making, structural geometries for space frames, material handling and construction.<br>

								</p>
							</div>
						</div>

				<div class="clear"></div>

				<div class="clear"></div>
				<div class="section bg-transparent">
					<div class="container clearfix">
						<div class="row justify-content-center">
							<div class="col-md-7 center">
								<div class="heading-block border-bottom-0 mb-4">
									<h2 class="mb-4 nott">Founding Members</h2>
								</div>
								<div class="svg-line bottommargin-sm clearfix">
									<img src="{% static 'temp/demos/nonprofit/images/divider-1.svg' %}" alt="svg divider" height="15">
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="container clearfix">
								<section id="slider" class="slider-element swiper_wrapper min-vh-75 justify-content-start dark" style="background: #042325; width: 100%; height: 60%; right: 20px; box-shadow: 5px 5px #B5D7A7;">
									<div class="container" style="position: absolute; ">
										<div class="row h-100 align-items-center justify-content-between" style="text-align: center;">
											<div class="col-lg-6 col-md-6 py-5 py-md-0">
												<div class="heading-block border-bottom-0 mb-4">
													<h2 class="mb-4 nott">Kunal Bhatia</h2>
												</div>
												<div class="svg-line bottommargin-sm">
													<img src="{% static 'temp/demos/nonprofit/images/divider-1.svg' %}" alt="svg divider" height="20">
												</div>
												<p class="mb-5">Kunal Bhatia, an established TV actor and a Film Maker is also a Civil Engineer from IIT-Delhi, and his quest of creating structures that can sustain life in an eco-friendly way has got him take an exciting turn from his career and move out to building structures using the very natural, wonder grass- Bamboo.</p>
				
											</div>
											<div class="col-lg-6 col-md-6">
												<img src="{% static 'assets/Kunal.jpeg' %}" id="Kunal_Bhatia" alt="Image" style="width: 100%; border-radius: 500px; box-shadow: 3px 3px black;">
											</div>
										</div>
									</div>
				
								</section>
							</div>

						</div>
						<div class="col">
							<div class="container clearfix">
								<section id="slider" class="slider-element swiper_wrapper min-vh-75 justify-content-start dark" style="background: #042325; width: 100%; height: 60%; right: 20px; box-shadow: 5px 5px #B5D7A7;">
				
								<div class="container" style="position: absolute;">
									<div class="row h-100 align-items-center justify-content-between" style="text-align: center;">
										<div class="col-lg-6 col-md-6 py-5 py-md-0">
											<div class="heading-block border-bottom-0 mb-4">
												<h2 class="mb-4 nott">Gul Bhatia</h2>
											</div>
											<div class="svg-line bottommargin-sm">
												<img src="{% static 'temp/demos/nonprofit/images/divider-1.svg' %}" alt="svg divider" height="20">
											</div>
											<p class="mb-5">Gul Bhatia, a marketing professional was working in Corporate and Media Houses, to whom the pull towards Sustainability came when she started getting sick from various Autoimmune Lifestyle Diseases.</p>
				
										</div>
										<div class="col-lg-6 col-md-6">
											<img src="{% static 'assets/Gul.jpeg' %}" id="Kunal_Bhatia" alt="Image" style="width: 100%; border-radius: 500px; box-shadow: 3px 3px black;">
										</div>
									</div>
								</div>
				
								</section>
							</div>
	
						</div>

						</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-md-7 center">
						<div class="heading-block border-bottom-0 mb-4">
							<h2 class="mb-4 nott">COMMUNITY</h2>
						</div>
						<div class="svg-line bottommargin-sm">
							<img src="{% static 'temp/demos/nonprofit/images/divider-1.svg' %}" alt="svg divider" height="20">
						</div>
						<p style="text-align: left;">
							Mango People Community is a collective of committed individuals, Builders, Architects, and Engineers, working to help the world build sustainable. Living sustainably is an act to get back towards a natural way of living.

 

And we humans have been drifting away from the very practice that keeps us connected to nature, Building our own home, Growing our own food, Harnessing our own energy. The modern ways of life, only keeps us outsourcing the very process, someone else builds our home, someone else grows our food, someone else harness our energy. 

​

To feel the connect & spread awareness, the community comes together time and again in the form of a Tribe event called #MeetTheTribe.
<br>
<br>
<br>
Mango People has helped raise funds for many causes through Community Network and Online Platforms.
​
The two most successful ones were:<br>
​
-  Raised 55000 INR for People for Animals on Wheels, to buy a fully equipped Mobile Clinic Ambulance for injured/diseased Animals in Faridabad.<br>
​
-  Raised 142000 INR for Shlok Missionaries to Build Free School using Bamboo GeoDesic Dome Structure in Bihar.

						</p>
					</div>
				</div>

				<div class="line line-sm my-0 clearfix"></div>
				<div class="clear"></div>
				<div class="section section-details mb-0 bg-white" style="padding: 80px 0 160px;">
					<div class="w-100 h-100 d-none d-md-block" style="position: absolute; top: 0; left: 0; background: #FFF url('{% static 'temp/nonprofit/images/others/6.jpg'%}') no-repeat bottom right / cover;"></div>
					<div class="container clearfix">
						<div class="row">
							<div class="col-md-4 px-4 mb-5">
								<h4 class="font-weight-medium mb-4">About Mango People</h4>
								<p class="mb-3">MANGO PEOPLE are soul-driven free thinkers, not governed by the mind of others, breaking the patterns, breaking the illusion, believe that life is way beyond, just trying to buy more comforts and luxury. The true riches to the mankind are the Natural Resources given to us by the Mother Earth.</p>
								<abbr title="Location"><strong>Location:</strong></abbr><a href="https://www.google.com/maps/place/Faridabad,+Haryana/@28.4233895,77.2418492,11.59z/data=!4m5!3m4!1s0x390cdc15f5a424b1:0xe4f50576c850e0f2!8m2!3d28.4089123!4d77.3177894?authuser=1" target="_blank"> View the Map</a><br>
								<abbr title="Phone Number"><strong>Phone:</strong></abbr> (1) 8547 632521<br>
								<abbr title="Email Address"><strong>Email:</strong></abbr> mangopeopleonline@gmail.com
							</div>

							<div class="col-md-4 px-4 mb-5">
								<h4 class="font-weight-medium mb-4">Our Community</h4>
								<p>Mango People Community is a collective of committed individuals, Builders, Architects, and Engineers, working to help the world build sustainable. Living sustainably is an act to get back towards a natural way of living.
								</p>
							</div>

							<div class="col-md-4 px-4 mb-5">
								<h4 class="font-weight-medium mb-4">Mission</h4>
								<p>
									Mango People is an NGO working towards the cause of sustainable living since 2011, by educating individuals to build their own eco-friendly & sustainable structures, using natural materials like Bamboo, Mud & other local recyclable material, available.
								 </p>
							</div>

							<div class="col-md-4 px-4 mb-5 mb-md-0">
								<h4 class="font-weight-medium mb-4">Support</h4>
								<p class="mb-3">You are most Welcome to Contribute to Mango People in every way you Wish.</p>
								<a href="#" class="mb-1 d-block"><i class="icon-envelope21 position-relative" style="top: 1px;"></i>mangopeopleonline@gmail.com</a>
								<div class="font-weight-medium mb-2 d-block">Monday - Friday 10:30 -18:00</div>
								<a href="https://www.facebook.com/MangoPeopleNGO/" class="social-icon si-dark si-small si-facebook" title="Facebook" target="_blank">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="https://www.instagram.com/mangopeople.org.in/" class="social-icon si-dark si-small si-delicious" title="Instagram" target="_blank">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>

								<a href="https://twitter.com/mangopeople_org" class="social-icon si-dark si-small si-paypal" title="Twitter" target="_blank">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								
							</div>

							<div class="col-md-4 px-4 mb-5 mb-md-0">
								<h4 class="font-weight-medium mb-4">Mango Hashtag</h4>
								<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-margin="0" data-nav="false" data-pagi="false" data-items="1" data-autoplay="6000" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut">

									<div class="oc-item">
										<div class="testimonial bg-transparent shadow-none border-0 p-0">
											<div class="testi-content">
												<p>To feel the connect & spread awareness, the community comes together time and again in the form of a Tribe event called #MeetTheTribe.</p>
												
											</div>
										</div>
									</div>
									<div class="oc-item">
										<div class="testimonial bg-transparent shadow-none border-0 p-0">
											<div class="testi-content">
												<p>Our Each Will to Contribute Is important in Bringing a Better Future #Contribute</p>
												
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
			</div>
		</section><!-- #content end -->

		{% endblock content%}

		