{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title%}

{% block content %}

{% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
{% endif %}

<h1>Welcome, {{user.username}}</h1>
{%if user.is_authenticated %}
<div class="Content mb-5" style="text-align: center;">
<form method="get" action="/form/resources/">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Resource Request Form</button>
</form>

<form method="get" action="/form/plasmaxchange/">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Plasmax change form</button>
</form>
</div>
{% else %}
<h1>Not</h1>
{% endif %}
{% endblock content %}