{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title%}

{% block style %}

{%endblock style%}

{% block content %}

{% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
{% endif %}
{% if staff%}
<div style="text-align: center;">
  <h1>Welcome Admin, {{user.username}}!</h1>
</div>
<div class="Content mb-5" style="text-align: center;">
  <a href="/admin" class="btn btn-danger">Admin Tool</a>

  <!-- Superuser Options here -->
  {% if admin %}
  <a href="/export/1" class="btn btn-success">Export Resource Request</a>
  <a href="/export/2" class="btn btn-success">Export Plasma Request</a>
  {% endif %}
</div>
{% endif %}
{% if not staff %}
<div style="text-align: center;">
  <h1>Welcome, {{user.username}}!</h1>
</div>
<hr>
<div class="Content mb-5" style="text-align: center;">

<table  style="position: relative; margin: 0 32%;">
  <tr>
  <th style="font-size: 1.5rem;">Resource</th>
  <th style="font-size: 1.5rem;">Plasma</th>
  </tr>

  <tr>
  <td>
  <form method="get" action="{% url 'main:form' 1%}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" style="margin: 0 1rem; min-width: 8rem;">Resource Request Form</button>
  </form>
  </td>
  <td>
  <form method ="get" action="{% url 'main:form' 2%}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" style="margin: 0 1rem; min-width: 8rem;">Plasma X Change form</button>
  </form>
</td>
<td>
  <form method ="get" action="{% url 'main:form' 3%}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" style="margin: 0 1rem; min-width: 8rem;">Add Resources Form</button>
  </form>
</td>
</tr>
</table>  
</div>
<hr>

{%if text%}
<h1>{{text}}</h1>
{% endif %}

{% if resource %}
<!-- Requested Resource details -->
<div class="container">
  <h2 style="color: maroon">Requested Resource Form Status</h2>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Resource</th>
      <th scope="col">Status</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for i in resource %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.resource}}</td>
      <td>{{i.status}}</td>
      <td>{{i.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}

{%if plasma%}
<!-- Plasmaxechange details -->
<div class="container">
  <hr>
  <h2 style="color: maroon">Plasmaexchange Form Status</h2>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Patient Name </th>
        <th scope="col">Donor Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {%for i in plasma%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.Patient_Name}}</td>
        <td>{{i.Donor_Name}}</td>
        <td>{{i.status}}</td>
      </tr>
      {%endfor%}
      <tr>
    </tbody>
  </table>
  </div>
{% endif %}
{% endif %}
{% endblock content %}