{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{{formname}}{% endblock title%}
{% block style %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css" />
{%endblock style%}
{% block content %}
<div class="containerf col-auto mt-5 mb-10">
  <div class="login">
  <h1>{{formname}} form</h1>
<form method="POST" action="/form/{{ formname }}/" class="" style="display: inline-block;">
    {% csrf_token %}
    {% for field in form %}
    
    <div class='col-auto mt-2' >
      {{ field|add_class:""|as_crispy_field }}
    </div>
{% endfor %}

    <!-- {{ form|crispy }} -->
    <button class="btn btn-primary mb-5" type="submit" value="{{formname}}">Submit</button>
  </form>
</div>
</div>
{% endblock content %}