{% extends 'base.html' %}
{% load static %}

{% block title %}Help Buddies{% endblock title%}

{% block content %}
<section id="page-title" class="page-title-dark page-title-parallax page-title-center" style="background: linear-gradient(to bottom, rgba(6, 54, 57,.9), rgba(6, 54, 57,.9)), url('{% static 'assets/HB1.jpeg' %}') no-repeat center center; background-size: cover; padding: 120px 0;">

    <div class="container clearfix">
        <h1 class="mb-3">Help Buddies</h1>
        <h4 style = "color :white;">#HelpBuddy is a Co-Patron, a community of people, who support your cause. </h4>
        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Causes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Help Buddies</li>
        </ol> -->
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">

        <div class="container">
            <div class="row gutter-40 col-mb-80">
                <!-- Post Content
                ============================================= -->
                <div class="postcontent col-lg-9">

                    <div class="single-post mb-0">

                        <!-- Single Post
                        ============================================= -->
                        <div class="entry clearfix">


                            

                            <!-- Entry Content
                            ============================================= -->
                            &nbsp;
                            <div class="entry-content mt-0" style="text-align: center; right: -150px;">

                                <h5 style="font-size:15px;">Solutions</h5>  <p>#RationRelief #FoodSupport </p>

                                <h5 style="font-size:15px;">Quarantine Solutions</h5> <p> #SocialDistancing #StayHomStaySafe #PandemicTracker #Mythbuster #FactCheck #PublicHealth #OpenSourceHealthCare #MediCare #HumanEssentials #FoodisFree #MentalHealth </p>

                                <p><h5 style="font-size:15px;">From Home Solutions</h5> <p> #OpenSourceLearning #Learn4mHome #Teach4mHome #Work4mHome #Biz4mHome #WorkCultureEvolution </p></p>

                                <p>Lets help connect individuals to co-create solutions to tackle the pandemic crisis.</p>
                            
                                <h2 style="font-size:20px;">#HelpBuddies : Alone! But together</h2>
                                
                                <!-- Post Single - Content End -->

                                <div class="clear"></div>

                                <!-- Post Single - Share
                                ============================================= -->
                                <!-- Post Single - Share End -->

                            </div>

                            <div class="entry-content mt-0" style="text-align: center; right: -150px;">
                            <img src="{% static 'assets/HB3.jpeg' %}" alt="Image" width="360" style="box-shadow: 5px 5px;">
                            </div>

                        </div>

                        <!-- Comments
                        ============================================= -->
                        

                            <!-- Comments List
                            =============================================<!-- .commentlist end -->

                            <!-- <div class="clear" style="right: -500px;"></div> -->

                            <!-- Comment Form
                            ============================================= -->
                            <!-- <div id="respond" style="right: -150px;">

                                <h3>Leave a <span>Comment</span></h3>

                                <form class="row" action="#" method="post" id="commentform">
                                    <div class="col-md-4 form-group">
                                        <label for="author">Name</label>
                                        <input type="text" name="author" id="author" value="" size="22" tabindex="1" class="form-control" />
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" value="" size="22" tabindex="2" class="form-control" />
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="url">Website</label>
                                        <input type="text" name="url" id="url" value="" size="22" tabindex="3" class="form-control" />
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col-12 form-group">
                                        <label for="comment">Comment</label>
                                        <textarea name="comment" id="comment" cols="58" rows="7" tabindex="4" class="form-control"></textarea>
                                    </div>

                                    <div class="col-12 form-group">
                                        <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-rounded button-border nott ls0 font-weight-normal border-color m-0">Submit Comment</button>
                                    </div>
                                </form>

                            </div> -->

                        </div>

                    </div>

                </div>

                <!-- Sidebar
                ============================================= -->
                <!-- .sidebar end -->
            </div>
        </div>

    </div>
</section><!-- #content end -->

{% endblock content %}