{% extends 'base.html' %}
{% load static %}

{% block title %}Project Slum{% endblock title%}
{% block style %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
{%endblock style%}
{% block content %}
<section id="page-title" class="page-title-dark page-title-parallax page-title-center" style="background: linear-gradient(to bottom, rgba(6, 54, 57,.9), rgba(6, 54, 57,.9));background-size: cover; padding: 120px 0;">

    <div class="container clearfix">
        <h1 class="mb-3">PROJECT SLUM</h1>
        <h4 style = "color :white;">Sustainable Living Urbanization Movement</h4>
        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Causes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Project Slum</li>
        </ol> -->
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content" style="text-align: center;">
    <div class="content-wrap" style="right: -100px;">

        <div class="container">
            <div class="row" style=" font-size: 80px; ">
                  <div class="col-lg-2 col-md-2 col-sm-2" style="font-family: 'Caveat'">#</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">S</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">L</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">U</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">M</div> 
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row" style=" font-size: 13px; ">
                  <div class="col-lg-2 col-md-2 col-sm-2" style="font-family: 'Caveat'"><u>Noun</u></div>
                  <div class="col-lg-2 col-md-2 col-sm-2">sustainable</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">living</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">urbanization</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">movement</div> 
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row" style=" font-size: 1rem; ">
                  <div class="col-lg-2 col-md-2 col-sm-2" style="font-family: 'Caveat'">Defination</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">able to be maintained at a certain rate or level.</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">the pursuit of a lifestyle of the specified type.</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">the process of making an area more urban.</div>
                  <div class="col-lg-2 col-md-2 col-sm-2">a change or development.</div> 
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row" style=" font-size: 1rem; ">
                  <div class="col-lg-2 col-md-2 col-sm-2" style="font-family: 'Caveat'">Sentence</div>
                  <div class="col-lg-8 col-md-8 col-sm-8">Sustainable Living Urbanization Movement, describes a pursuit of a lifestyle that attempts to reduce an individual's or society's use of the Earth's natural resources, and one's personal resources maintained at a certain rate or level of development, creating a process of making an area more urban, and simulltaneously achieve "earth harmony living" or "net zero living".</div>
        </div>

    </div>
</section>
<hr style="border: 15px solid rgba(6, 54, 57,.9); border-radius: 5px;">

<section id="content" style="text-align: center;">
    <div class="content-wrap" style="right: -10px;">

        <div class="container" style="width: 1200px;">
            <img src="{% static 'assets/sustainable.png' %}">
        </div>
        <br>
        <div class="container" style="width: 1200px;">
            <p>The 2030 Agenda for Sustainable Development, adopted by all United Nations Member States in 2015, provides a shared blueprint for peace and prosperity for people and the planet, now and into the future. At its heart are the 17 Sustainable Development Goals (SDGs), which are an urgent call for action by all countries - developed and developing - in a global partnership. They recognize that ending poverty and other deprivations must go hand-in-hand with strategies that improve health and education, reduce inequality, and spur economic growth – all while tackling climate change and working to preserve our oceans and forests.</p>
        </div>
        <br>
        <h1 style="color: black; font-size: 3rem;">CIRCULAR ECONOMY</h1>
        <div class="container" style="width:25%; height: 100px; top: -30px;">
            <img src="{% static 'assets/sustainable2.png' %}">
        </div>
        <h5>An economic tool for redevelopment of society from the debris of Coronavirus Pandemic Crisis</h5>
        <div class="container" style="width: 1200px;">
            <img src="{% static 'assets/sustainable3.png' %}">
        </div>
        <br>
        <div class="container" style="width: 1200px;">
            <p>A circular economy feeds back into its own development and thus closes the loop. It is a regenerative economic model aimed at minimising waste and maximising resources. This sustainable economic approach uses a ‘make, use, reuse, recycle,  remake, ’ model of production - which is in stark contrast to the traditional linear model of ‘take, make, use, dispose & pollute’. <br>                                                                               
            Social Sustainability with an endeavour of achieving equal participation of different groups in all stages of development process. It is significant, to avoid excluding low-income group. About 90% of India’s workforce is informally employed, which includes gig economy workers. This population is extremely vulnerable to economic shocks and needs greater access to formal credit and social safety nets such as insurance and pension schemes.<br>          It is critically important to expand access to clean water, clean air and primary health care, a universal basic income Beyond employment guarantees. These will improve life expectancy and increase economic and physical resilience.</p>
        </div>
        <div class="container" style="width: 1200px;">
            <p><b>Resilience is essential.</b> Build the resilience for the most vulnerable</p>
        </div>
        <div class="container" style="width: 1200px;">
            <p>Governments around the world are racing to implement economic stimulus and support packages to keep individuals, businesses, and economies afloat. <br>                                                                                                                
            We must ensure that these measures pave the way to a more sustainable economy and do not lock us further into a high-carbon future. Periods of high unemployment and low interest rates are the right time for new low-carbon investments and infrastructure, including the kind required to support the transition to clean energy.    <br>                                                                                                            
            Inequality is magnified. The COVID-19 pandemic is an unprecedented global shock that magnifies the impact of inequality, hitting the poor the hardest. In developed countries, frontline workers in the service economy are among the most exposed to the virus and the least able to absorb its financial impact. And the hardest hit will be the poor in developing countries, where already-struggling workers will not have the benefit of social safety nets and stimulus packages.</p>
        </div>
        <div class="container" style="width: 1200px;">
            <p><b>Stimulus must be sustainable.</b> Investments in making Urban ecololgically and economically Sustainable.</p>
        </div>
        <div class="container" style="width: 1200px;">
            <p>There are a growing number of innovative, new companies out there that have crafted their entire business around feeding back into a circular economy and closing the loop. Adopting a circular economy approach enables organisations to move towards business models that allow goods to be designed and produced for extended use, disassembly, reuse and recycling from the outset.<br>
            Given the rise in popularity of the circular economy, it is no longer the province of just multinational corporations, yet one which all organisations need to consider for future resilience and competitive advantage. And finally, one which all #ConsciousCitizens needs to adapt in order to maintain sustainable consumer habits.</p>
        </div>
        <div class="container" style="width: 1200px;">
            <p><b>Support circular economy businesses</b> - and close the loop!</p>
        </div>
            

    </div>
</section><!-- #content end -->
<hr style="border: 15px solid rgba(6, 54, 57,.9); border-radius: 5px;">

<section id="content" style="text-align: center;">
    <div class="content-wrap" style="right: -10px;">

        <h1 style="color: black; font-size: 3rem;">Social Appointment</h1>
        <div class="container" style="width:25%; height: 100px; top: -30px;">
            <img src="{% static 'assets/sustainable4.png' %}">
        </div>
        <h5>Direct Engagement for Social Cause in echange of Basic Essentials.</h5>
        <div class="container" style="width: 1200px;">
            <p>Social Appointment means, engaging community members into social causes, impacting the local sorroundings, like maintaining cleanliness, planting food forests, volunteering in group community activities and in exchange getting few basic essentials like Ration, access to community Healthcare, awareness and accessibility to several government schemes and further engagement and employment.  engagement will be limited to few community programs, as per need to be applied basis, where everbody in the community can engage, irrespective of the skills and exposure.</p>
        </div>
        <div class="container" style="width: 1200px;">
            <img src="{% static 'assets/sustainable5.png' %}">
        </div>
        <br>
        <div class="container" style="width: 1200px;">
            <p>To tackle the unemployment problem caused due to Covid19 pandemic lockdown, & cover few of the sustainable development goals like No Poverty, Zero Hunger,</p>
        </div>

    </div>
</section>

{% endblock content %}