{% extends 'base.html' %} {% load static %} {% block title %} {{name}} {% endblock title%} {% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'table/style/tablefilter.css' %}">
<link rel="stylesheet" href="{% static 'table/style/themes/transparent/transparent.css' %}"> {%endblock style%} {% block content %}
<div class="container my-5" style="max-width: 100%;">
    <hr>
    <div style="text-align: center;">    
        <h1 style="font-family: monospace; color: maroon; ">{{name}} Resources</h1>
    </div>
    <hr>    
    <div class="row">
        <div class="panel panel-primary filterable">
            <table id="demo" class=" table table-borderless table-responsive-lg" >
                <thead>
                    <tr class="filters">
                        <th scope="col">
                            S.No
                        </th>
                        <th scope="col">
                            Organisation Name
                        </th>
                        <th scope="col">
                            Number
                        </th>
                        <th scope="col">
                            Address
                        </th>
                        <th scope="col">
                            Contact Person
                        </th>
                        <th scope="col">
                            Quantity
                        </th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col">
                            Link
                        </th>
                        <th scope="col">
                            Last Update
                        </th>
                        <th scope="col" style="min-width: 29rem;">
                            Description
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in content %}
                    <tr>
                        <td scope="row">{{ forloop.counter}}</td>
                        <td scope="row">{{i.org_name}}</td>
                        <td scope="row">{{i.number}}</td>
                        <td scope="row">{{i.address}}</td>
                        <td scope="row">{{i.contact_person}}</td>
                        <td scope="row">{{i.quantity}}</td>
                        <td scope="row">{{i.status}}</td>
                        {% ifequal i.link "NA" %}
                        <td scope="row">{{i.link}}</td>
                        {%else%}
                        <td scope="row"><a href="{{i.link}}">{{i.link}}</a></td>
                        {% endifequal %}
                        <td scope="row">{{i.last_updated}}</td>
                        <td scope="row">{{i.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <table class="table table-borderless table-responsive-lg" style="display: none;">
        <thead class="table-dark">
            <th scope="col">
                S.No
            </th>
            <th scope="col">
                Organisation Name
            </th>
            <th scope="col">
                Number
            </th>
            <th scope="col">
                Address
            </th>
            <th scope="col">
                Contact Person
            </th>
            <th scope="col">
                Quantity
            </th>
            <th scope="col">
                Status
            </th>
            <th scope="col">
                Link
            </th>
            <th scope="col">
                Last Update
            </th>
            <th scope="col">
                Description
            </th>
        </thead>
        {% for i in content %}
        <tbody>
            <td scope="row">{{ forloop.counter}}</td>
            <td scope="row">{{i.org_name}}</td>
            <td scope="row">{{i.number}}</td>
            <td scope="row">{{i.address}}</td>
            <td scope="row">{{i.contact_person}}</td>
            <td scope="row">{{i.quantity}}</td>
            <td scope="row">{{i.status}}</td>
            {% ifequal i.link "NA" %}
            <td scope="row">{{i.link}}</td>
            {%else%}
            <td scope="row"><a href="{{i.link}}">{{i.link}}</a></td>
            {% endifequal %}
            <td scope="row">{{i.last_updated}}</td>
            <td scope="row">{{i.description}}</td>
        </tbody>
        {% endfor %}
    </table>
</div>


<div class="pagination-container">
    <div class="">
      Showing page {{gettable.number}} of {{ gettable.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if gettable.has_previous %}
      <li {% if gettable.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ gettable.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if gettable.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ gettable.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ gettable.paginator.num_pages }}">{{ gettable.paginator.num_pages}} &raquo;</a></li>
      {% endif %}
      </ul>

  </div>
{% endblock content %} {% block lastscript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="{% static 'js/tablefilter.js' %}"></script>
<script src="{% static 'js/tf-1-2aa33b10e0e549020c12.js' %}"></script>
<script data-config>
    var filtersConfig = {
        base_path: 'static/risk/',
        col_6: 'select',
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        mark_active_columns: true,
        highlight_keywords: true,
        responsive: true,
        col_types: [
            'integer', 'string', 'integer',
            'string', 'string', 'integer',
            'string', 'string', 'string',
            'string'
        ],
        extensions: [{
            name: 'sort'
        }],
        auto_filter: {
            delay: 1100 //milliseconds
        },
        themes: [{
            name: 'transparent'
        }]
    };

    var tf = new TableFilter('demo', filtersConfig);
    tf.init();

    console.log('hello')
</script>
{% endblock lastscript %}