{% extends 'base.html' %}
{% load static %}


{% block title %}
Available Resources
{% endblock title%}

{% block style %}
<style>
    .section_our_solution .row {
      align-items: center;
    }

    .our_solution_category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .our_solution_category .solution_cards_box {
      display: flex;
      flex-direction: column;
      /*justify-content: center;*/
    }
    .solution_cards_box .solution_card {
      flex: 0 50%;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
      border-radius: 15px;
      margin: 8px;
      padding: 10px 15px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      min-height: 265px;
      transition: 0.7s;
    }

    .solution_cards_box .solution_card:hover {
      background: #b6d7a8;
      color: #fff;
      transform: scale(1.1);
      z-index: 9;
    }

    .solution_cards_box .solution_card:hover::before {
      background: rgb(85 108 214 / 10%);
    }

    .solution_cards_box .solution_card:hover .solu_title h3,
    .solution_cards_box .solution_card:hover .solu_description p {
      color: #fff;
    }

    .solution_cards_box .solution_card:before {
      content: "";
      position: absolute;
      /*background: rgb(85 108 2 / 5%);*/
      /*background: rgb(225 242 218 / 5%)*/
      background: rgb(182 215 168 / 5%);
      width: 400px;
      height: 170px;
      z-index: -1;
      transform: rotate(42deg);
      right: -56px;
      top: -23px;
      border-radius: 35px;
    }

    .solution_cards_box .solution_card:hover .solu_description button {
      background: #fff !important;
      /*color: #309df0;*/
      color: #96d97a;
     /* color: #f4ff6b;*/
    }

    .solution_card .so_top_icon {
    }

    .solution_card .solu_title h3 {
      color: #212121;
      font-size: 1.3rem;
      margin-top: 13px;
      margin-bottom: 13px;
    }

    .solution_card .solu_description p {
      font-size: 15px;
      margin-bottom: 15px;
    }

    .solution_card .solu_description button {
      border: 0;
      border-radius: 15px;
      background: linear-gradient(
        140deg,
        #42c3ca 0%,
        #42c3ca 50%,
        #42c3cac7 75%
      ) !important;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      padding: 5px 16px;
    }

    .our_solution_content h1 {
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
    .our_solution_content p {
    }

    .hover_color_bubble {
      position: absolute;
      /*background: rgb(54 81 207 / 15%);*/
      background: rgb(150 217 122 / 25%) ;
      width: 100rem;
      height: 100rem;
      left: 0;
      right: 0;
      z-index: -1;
      top: 16rem;
      border-radius: 50%;
      transform: rotate(-36deg);
      left: -18rem;
      transition: 0.7s;
    }

    .solution_cards_box .solution_card:hover .hover_color_bubble {
      top: 0rem;
    }

    .solution_cards_box .solution_card .so_top_icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #fff;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .solution_cards_box .solution_card .so_top_icon img {
      width: 40px;
      height: 50px;
      object-fit: contain;
    }

    /*start media query*/
    @media screen and (min-width: 320px) {
      .sol_card_top_3 {
        position: relative;
        top: 0;
      }

      .our_solution_category {
        width: 100%;
        margin: 0 auto;
      }

      .our_solution_category .solution_cards_box {
        flex: auto;
      }
    }
    @media only screen and (min-width: 768px) {
      .our_solution_category .solution_cards_box {
        flex: 1;
      }
    }
    @media only screen and (min-width: 1024px) {
      .sol_card_top_3 {
        position: relative;
        top: -3rem;
      }
      .our_solution_category {
        width: 80%;
        margin: 0 auto;
      }
    }
</style>
{%endblock style%}

{% block content %}
<h1>Here is the list of available Resources</h1>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="our_solution_category">
                <div class="solution_cards_box">

                    {% for i in content %}

                    <div class="solution_card ">

                        <div class="hover_color_bubble"></div>

                        <!-- changed -->
                        <div class="row no-gutters">
                            <div class="col-md-4 col-lg-4">
                                <img src="{{i.image_url}}" style="max-width: 500px; max-height: 300px" class="card-img" alt="Not Available">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="solu_title">
                                        <h3>{{i.name}}</h3>
                                    </div>
                                    <div class="solu_description">
                                        <p>{{i.description}}</p>
                                       <a href="{% url 'main:resourcetable' i.id %}"> <button type="button" class="read_more_btn">View Content</button> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


<!-- Content after cards -->
    <div class="clear"></div>
				<div class="clear"></div>
				<div class="line line-sm my-0 clearfix"></div>
				<div class="clear"></div>
				<div class="section section-details mb-0 bg-white" style="padding: 80px 0 160px;">
					<div class="w-100 h-100 d-none d-md-block" style="position: absolute; top: 0; left: 0; background: #FFF "></div>
					<!-- url('demos/nonprofit/images/others/6.jpg') no-repeat bottom right / cover; -->
					<div class="container clearfix">
						<div class="row">
							<div class="col-md-4 px-4 mb-5">
								<h4 class="font-weight-medium mb-4">About MangoPeople</h4>
								<p class="mb-3">Proactively re-engineer pandemic models rather than cost effective catalysts for change.</p>
								<abbr title="Location"><strong>Location:</strong></abbr><a href="#"> View the Map</a><br>
								<abbr title="Phone Number"><strong>Phone:</strong></abbr> (1) 8547 632521<br>
								<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
							</div>

							<div class="col-md-4 px-4 mb-5">
								<h4 class="font-weight-medium mb-4">Our Partners</h4>
								<p>Conveniently pontificate worldwide services vis-a-vis e-business portals. Phosfluorescently re-engineer global methodologies vis-a-vis standards compliant platforms.</p>
							</div>

							<div class="col-md-4 px-4 mb-5 " >
								<h4 class="font-weight-medium mb-4">Support</h4>
								<p class="mb-3">Compellingly enable premium alignments rather than sustainable content.</p>
								<a href="#" class="mb-1 d-block"><i class="icon-envelope21 position-relative" style="top: 1px;"></i> no.reply@canvas.com</a>
								<div class="font-weight-medium mb-2 d-block">Monday - Friday 10:30 -18:00</div>
								<a href="#" class="social-icon si-dark si-small si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-dark si-small si-delicious" title="Delicious">
									<i class="icon-delicious"></i>
									<i class="icon-delicious"></i>
								</a>

								<a href="#" class="social-icon si-dark si-small si-paypal" title="Paypal">
									<i class="icon-paypal"></i>
									<i class="icon-paypal"></i>
								</a>

								<a href="#" class="social-icon si-dark si-small si-flattr" title="Flattr">
									<i class="icon-flattr"></i>
									<i class="icon-flattr"></i>
								</a>

								<a href="#" class="social-icon si-dark si-small si-android" title="Android">
									<i class="icon-android"></i>
									<i class="icon-android"></i>
								</a>

								<a href="#" class="social-icon si-dark si-small si-smashmag" title="Smashmag">
									<i class="icon-smashmag"></i>
									<i class="icon-smashmag"></i>
								</a>
							</div>

							

						</div>
					</div>
				</div>

 {% endblock content %}