.vscode
*.suo
.idea
.env
.pyc
db.sqlit3
*.user
*.userosscache
*.sln.docstates
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
*.pyc
__pycache__/
*.py[cod]
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
db.sqlit3
