.vscode
*.suo
.idea
.env
db.sqlit3
*.user
*.userosscache
*.sln.docstates
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
*.pyc
env
**/__pycache__/
*.py[cod]
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
db.sqlit3
*/migrations/
*.cpython-38.pyc
main/migrations
