#heading {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.blog-heading{
    color: black;
    font-size: 3rem;
    margin-top: 5px;
    font-weight: 600;

}

.content {
    height: auto;
    width: 100%;
    background-color:#f5f4f4;
    padding: 3rem;
    text-align: justify;
    margin-bottom: 2rem;
}

#bottom {
    text-align: center;
    margin-bottom: 2rem;
}